@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import '~antd/dist/antd.css';


body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rbc-date-cell.rbc-off-range{
	color: rgba(0,0,0,0.25) !important;
}
.rbc-off-range-bg{
	background-color: inherit;
}
.rbc-today{
	background-color: #e6f7ff;
}
.rbc-month-view{
	border-right-width: 0;
	border-left-width: 0;
}
.rbc-event-continues-prior{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.rbc-event-continues-after {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
  }
*[class^='rbc-']{
	border: none !important;
	color: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
}
.rbc-now > a{
	color: #1890ff;
	font-weight: 700;
}
.calendar-due-event {
	background-color: #ff4d4f;
	border-color: #ff4d4f;
	&:hover, &:focus{
		background-color: #ff7875;
		border-color: #ff7875;
	}
	&:active {
		background-color: #f5222d;
		border-color: #f5222d;
	}
}
// .ant-table td { white-space: nowrap; }

div#home{
	div.main-area {
		background-image: url('./assets/tsukuba.jpg');
		background-repeat: no-repeat;
		background-position: top -40px right -80px;
		background-size: 200px;
		overflow: hidden;
	}
	.global-header{
		max-width: 600px;
		margin: 0 auto;
		text-shadow: 0 0 16px rgba(#fff, 0.8);
		& > div{
			margin: 24px 16px;
			position: relative;
		}
		h3 {
			margin: 0;
			padding: 0;
			max-width: 100%;
			font-weight: 700
		}
		h1{
			margin: 0;
			padding: 0;
			max-width: 100%;
			font-weight: 700
		}
	}
	div.main{
		margin: 48px 0;
	}
	section > div{
		margin: 24px 16px;
	}
	section{
		position: relative;
		margin: 0 auto;
		max-width: 600px;
	}
	div.sub-area{
		height: 50vh;
		background-image: url('./assets/cover.jpg');
		background-position: center;
		background-size: cover;
	}
	.global-footer{
		background-color: #fafafa;
	}
	.footer-contents{
		max-width: 600px;
		margin: 0 auto;
		overflow: hidden;
		& > div{
			margin: 48px 16px;
		}
	}
}
@media screen and (min-width: 800px){
	div#home{
		position: relative;
		.global-header{
			& > div{
				margin: 64px 16px;
			}
		}
		div.sub-area{
			width: 50vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
		}
		div.main-area{
			width: 50vw;
			position: relative;
			margin-left: 50vw;
			min-height: 100vh;
			overflow: hidden;
			background-position: top -80px right -160px;
			background-size: 400px;
		}
	}
}